<div *ngIf="myShopingCart.length > 0">
  <p>has agregado {{myShopingCart.length}} productos al carro</p>
  <p>total de la compra: ${{totalShopping | currency:'COP'}}</p>
  <p>fecha: {{today | date}}</p>
</div>

<div class="products--grid">
  <app-producto [product]="prod" 
  *ngFor="let prod of productos" 
  (addedProduct)="addToShopingcart($event)" 
  (click)="toggleProduct()"
  (showProduct)="onShowDetail($event)"
  ></app-producto>
</div>

<div class="product-detail" [class.active]="showProductDetail">
  <button (click)="toggleProduct()">Close</button>
  <div>
    <app-img [imagen]="oneProductToShow"></app-img>
    <p>{{ oneProductToShow.title }}</p>
    <p>{{ oneProductToShow.price }}</p>
    <p>{{ oneProductToShow.description }}</p>
  </div>
</div>

