<div class="showMobile">
    <div>
        <button (click)="toggleMenu()">
            <img src="../../../assets/images/icon_menu.svg" alt="">
        </button>
        <a href="">
            <img src="../../../assets/images/logo_yard_sale.svg" alt="">
        </a>
        <a href="">
            <img src="../../../assets/images/icon_shopping_cart.svg" alt="">
        </a>
    </div>
    <div class="sideMenu" [class.active]="showMenu">
      <button (click)="toggleMenu()">Close</button>
      <ul>
        <li><a href="">All</a></li>
        <li><a href="">Clothes</a></li>
        <li><a href="">Electronics</a></li>
      </ul>

    </div>
</div>
<div class="hideMobile">
        <div>
            <nav>
                <a class="logo" href="">
                    <img src="../../../assets/images/logo_yard_sale.svg" alt="">
                </a>
                <ul>
                    <li> <a href="">All</a></li>
                    <li><a href="">Clothes</a></li>
                    <li><a href="">Electronics</a></li>
                </ul>
            </nav>
            <div class="info">
                <div class="account">juangoster@gmail.com</div>
                <div>
                  <a href="">
                      <img src="../../../assets/images/icon_shopping_cart.svg" alt="">
                  </a>
              </div>
            </div>
        </div>

    </div>
