<form #nuevoForm="ngForm"  >
  <div class="grupo">
    <label for="email">Nombre: </label>
    <input id="email" required  type="text" name="email" #email="ngModel" [(ngModel)]="register.name">
    <p class="messageError" [class.active]="email.invalid">Campo requerido</p>
  </div>
  <div class="grupo">
    <label for="email">E-Mail: </label>
    <input id="email" required  type="text" name="email" #email="ngModel" [(ngModel)]="register.email">
    <p class="messageError" [class.active]="email.invalid">Campo requerido</p>
  </div>
  <div class="grupo">
    <label for="pass">Contraseña: </label>
    <input id="pass" required  type="text" name="pass" #pass="ngModel" [(ngModel)]="register.password">
    <p class="messageError" [class.active]="pass.invalid">Campo requerido</p>
  </div>
  <button [disabled]="nuevoForm.invalid" type="submit" (click)="createUser()">Registrar</button>
  <button  (click)="auth()">login</button>
  <button (click)="getProfile()">profile</button>

</form>
